@font-face {
  font-family: 'fixedsys';
  src: url('FSEX300.ttf')  format('truetype');
  src: url('FSEX300.woff') format('woff');
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


    /* ****************** */
   /* 					 */
  /*   end of reset     */
 /* 				   */
/* ****************** */



html {
	max-width: 600px;
	margin: auto;
}

body {
	font-family: 'fixedsys', monospace;
	margin: 50px;
	@media only screen and (max-width : 400px) {
		margin: 25px;
	}
}

header {
		font-size: 2rem;
		p {
			span {
				color: crimson;
			}
		}
}

main {
	margin: 50px 0 50px 0;
	line-height: 2rem;

	section	{
		margin: 40px 0 40px 0;
		h1 {
		font-size: 1.5rem;
		color: crimson;
		margin: 10px 0 10px 0;

		}		

		ul {
			li {
				margin-left: 20px;
			}
		}

		a {
			&:hover {
				background-color: crimson;
				color: white;
			}
		}
	}



}


