<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ RAW.name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {{{styleSheet "compact-html.css"}}}
  </head>
  <body>
    <main>
      <header>
        <h1>{{{ r.name }}} </h1>
        <div id="contact">
          {{#has 'location.city'}}<div class="location">{{r.location.city}}, {{r.location.country}}</div>{{/has}}{{#has 'contact.email'}}<div class="email"><a href="mailto:{{{ RAW.contact.email }}}">{{ RAW.contact.email }}</a></div>{{/has}}
          {{#has 'contact.phone'}}<div class="phone">{{ RAW.contact.phone }}</div>{{/has}}
          {{#has 'contact.website'}}<div class="website"><a href="{{{ RAW.contact.website }}}">{{trimURL RAW.contact.website }}</a></div>{{/has}}
        </div>
      </header>

{{!<!--

  INLINE TEMPLATE DEFINITIONS

-->}}

{{#*inline }}<span class="fa fa-lg fa-code"></span>{{/inline}}
{{#*inline }}<span class="fa fa-building"></span>{{/inline}}
{{#*inline }}<span class="fa fa-star"></span>{{/inline}}
{{#*inline }}<span class="fa fa-balance-scale"></span>{{/inline}}
{{#*inline }}<span class="fa fa-mortar-board"></span>{{/inline}}
{{#*inline }}<span class="fa fa-child"></span>{{/inline}}
{{#*inline }}<span class="fa fa-share-alt"></span>{{/inline}}
{{#*inline }}<span class="fa fa-share"></span>{{/inline}}
{{#*inline }}<span class="fa fa-pencil"></span>{{/inline}}
{{#*inline }}<span class="fa fa-book"></span>{{/inline}}
{{#*inline }}<span class="fa fa-trophy"></span>{{/inline}}
{{#*inline }}<span class="fa fa-users"></span>{{/inline}}
{{#*inline }}<span class="fa fa-quote-right"></span>{{/inline}}
{{#*inline }}<span class="fa fa-thumbs-o-up"></span>{{/inline}}
{{#*inline }}<span class="fa fa-bicycle"></span>{{/inline}}

{{#*inline "body-education" }}
<div>
  <h3><em>{{ title }}</em></h3>
    {{#if institution}} at
      {{#if url }}
      <a href="{{{ url }}}"><h3>{{ institution }}</h3></a>
      {{else}}
      <h3>{{ institution }}</h3>
      {{/if}}
    {{/if}}
    {{#if location}}
      in {{ location }}
    {{/if}}
    <span class="tenure">{{dateRange .}}</span>
  <p>{{{ summary }}}</p>
  {{> highlights }}
  {{#if keywords}}
  <span class="keywords">{{#each keywords}}{{{ . }}} {{/each}}</span>
  {{/if}}
</div>
{{/inline}}

{{#*inline "body-employment" }}
<div>
  <h3><em>{{ position }}</em></h3>
    {{#if employer}} at
      {{#if url }}
      <a href="{{{ url }}}"><h3>{{ employer }}</h3></a>
      {{else}}
      <h3>{{ employer }}</h3>
      {{/if}}
    {{/if}}
    {{#if location}}
      in {{ location }}
    {{/if}}
    <span class="tenure">{{dateRange .}}</span>
  <p>{{{ summary }}}</p>
  {{> highlights }}
  {{#if keywords}}
  <span class="keywords">{{#each keywords}}{{{ . }}}{{#unless @last}} - {{/unless}}{{/each}}</span>
  {{/if}}
</div>
{{/inline}}

{{#*inline "body-projects" }}
<div>
  <h3><em>{{ role }}</em></h3> at
    <h3>{{#if url }}
    <a href="{{{ url }}}">{{ title }}</a>
    {{else}}
    {{ title }}
    {{/if}}
    </h3>
    <span class="tenure">{{dateRange .}}</span>
  <p>{{{ summary }}}</p>
  {{> highlights }}
  {{#if keywords}}
  <span class="keywords">{{#each keywords}}{{{ . }}}{{#unless @last}} - {{/unless}} {{/each}}</span>
  {{/if}}
</div>
{{/inline}}

{{#*inline "body-speaking" }}
<div>
  <h3><em>{{ role }}</em></h3>
    {{#if event}} at
      {{#if url }}
      <a href="{{{ url }}}"><h3><em>{{ event }}</em></h3></a>
      {{else}}
      <h3>{{ event }}</h3>
      {{/if}}
    {{/if}}
    {{#if location}}
      in {{ location }}
    {{/if}}
    <span class="tenure">{{start}}</span>
  <p>{{{ summary }}}</p>
  {{> highlights }}
  {{#if keywords}}
  <span class="keywords">{{#each keywords}}{{{ . }}} {{#unless @last}} - {{/unless}} {{/each}}</span>
  {{/if}}
</div>
{{/inline}}

{{#*inline "body-service" }}
<div>
  <h3><em>{{ position }}</em></h3>
    {{#if organization}} at
      <h3>{{#if url }}
      <a href="{{{ url }}}">{{ organization }}</a>
      {{else}}
      {{ organization }}
      {{/if}}
    </h3>
    {{/if}}
    {{#if location}}
      in {{ location }}
    {{/if}}
    <span class="tenure">{{dateRange .}}</span>
  <p>{{{ summary }}}</p>
  {{> highlights }}
  {{#if keywords}}
  <span class="keywords">{{#each keywords}}{{{ . }}}{{#unless @last}} - {{/unless}} {{/each}}</span>
  {{/if}}
</div>
{{/inline}}



{{!<!--

  RESUME SECTIONS

-->}}

{{#*inline "header-info"}}{{/inline}}
{{> section/info }}
{{> section/education }}
{{> section/employment }}
{{> section/projects }}
{{> section/speaking }}
{{> section/service }}

{{> section/skills }}
{{> section/governance }}

{{> section/affiliation }}
{{> section/samples }}
{{> section/writing }}
{{> section/reading }}
{{> section/recognition }}
{{> section/testimonials }}
{{> section/references }}
{{> section/interests }}

    </main>
  </body>
</html>
