html, body, main, section, header, ul, p, h1, h2, h3 {
  font-family: {{{fontList 'default'}}};
  font-size: 12px;
  margin: 0; padding: 0;
  display: block;
  line-height: 1.5em;
}

a {
  color: #0064BD;
  text-decoration: none;
}

a:visited {
  color: #0064BD;
}

a:hover {
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
}

hr {
  border: none;
  border-top: 1px solid #B3B3B3;
}

main {
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
}

section {
  margin-top: 1em;
}

li {
  margin-left: 2em;
}

p, li {
  text-align: justify;
  clear: both;
}

.tenure {
  float: right;
}

thead {
  display: none;
}

main > header {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  position: relative;
}

main > header > h1 {
  font-size: 20px;
}


h3 {
  display: inline-block;
  line-height: 1.25em;
}
#contact {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

#contact > div {
  display: inline-block;
  margin-left: 5px;
}

span.fa {
  text-align: left;
  margin-right: 3px;
  float: left;
}

section > div {
  margin-bottom: 1em;
  clear: both;
}

span.keywords {
  font-size: 10px;
  color: gray;
  text-align: right;
}
